{% extends "layout.html" %}

{% block content %}
<div class="page-header">
<h1>Exploratory Data Analysis Plots</h1>
</div>
<div class="row">
	<div class="col-md-5 col-md-offset-3">
		<p>Plot 1 shows the distribution of review counts in the dataset.</p>
		<img src="images/plot1.png"/>
	</div>
</div>
<div class="row">
	<div class="col-md-5 col-md-offset-3">
		<p>Plot 2 shows the correlation between review counts and average rating. Average rating appears to be independent of review counts.</p>
		<img src="images/plot2.png"/>
	</div>
</div>

{% endblock %}