{% extends "layout.html" %}

{% block content %}
<div class="page-header">
<h1>Exploratory Data Analysis Plots</h1>
</div>
<div class="row">
	<p><h4>Plot 2 shows the correlation between review counts and average rating. Average rating appears to be independent of review counts.</h4></p>
</div>
<div class="row">
	<div class="col-md-5 col-md-offset-3">
		<img src="/images/plot2.png"/>
	</div>
</div>

{% endblock %}